body, html{
		  height: 100%;
		}

		body{
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  flex-wrap: wrap;
		  font-family: 'Lato';
		  font-weight: 900;
		  color: #353535;
		  position: relative;
		}

		.text{
		  display: inline-block;
		  font-size: 15vmin;
		  /*line-height: 1.205;*/
		  line-height: 1.205;
		}

		.text__first, .text__second{
		  position: relative;
		}

		.text__word{
		  opacity: 0;
		}

		.text__first-bg, .text__second-bg{
		  display: block;
		  width: 100%;
		  height: 100%;
		  position: absolute;
		  left: 0;
		  top: 0;
		  z-index: 100;
		  transform-origin: left;
		  transform: scaleX(0);
		}

		.text__first-bg{
		  background-color: #9ba5b5;
		}

		.text__second-bg{
		  background-color: #009688;
		}

		.text__second{
		  margin-left: 15vmin;
		}

		.header{
			width: 100%;
			display: inline-block;
			position: absolute;
			align-self: start;
			text-align: center;
		}
		.menu{
			list-style: none;
			display: inline-block;
			align-self: center;
			font-family: "Roboto Slab";
			font-size: 30px;
			margin: 20px 20px 0px 20px;
			padding: 10px 10px 10px 10px;
		}

		/* underline */
		.underline-magical {
			background-image: linear-gradient(120deg, #f3e9c6 0%, #f3e9c6 100%);
			background-repeat: no-repeat;
			background-size: 100% 0.2em;
			background-position: 0% 100%;
			transition: background-size 0.25s ease-in;
		}

		.footer{
			align-items: end;
			position: absolute;
			display: inline-block;
			align-self: center;
			bottom: 0px;
			padding:20px 0px 30px 0px;
			background: #1a1a1a;
			color: white;
			width: 100%;
			font-family: "Anaheim";
			text-align: center;
		}
		
		.underline-magical:hover{
			background-size: 100% 100%;
		}